@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=Kaushan+Script&display=swap');

body {
    background: #FFEAC5;
    font-family: 'Kameron', serif;
    color: #665132;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* , a , button , input[type="button"] {
    cursor: none !important;
}

#animatedBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -10;
}

.ball {
    position: absolute;
    border-radius: 50%;
}

.navbar > div.container {
    margin-top: -1rem;
}

.navbar-nav a {
    color : "#665132";
    font-size: 1.2rem;
    position: relative;
}

.navbar-nav svg {
    position: absolute;
    left: -10%;
    top: -20%;
    width: 100%;
}

.navbar-nav a svg path {
    stroke-dasharray: 408.36328125;
    stroke-dashoffset: 408.36328125;
}

.navbar-nav a:hover path {
    animation: writeLink 1.8s ease;
    animation-fill-mode: forwards;
}

.navbar-nav a:nth-child(1) path {
    stroke-dasharray: 283.50604248046875;
    stroke-dashoffset: 283.50604248046875;
}

.navbar-nav a:nth-child(1):hover path{
    animation: writeLink 1s ease;
    animation-fill-mode: forwards;
}

@keyframes writeLink {
    to {
        stroke-dashoffset: 0;
    }
}

.type {
    font-family: 'Kaushan Script', cursive;
    font-size: 3.3rem;
    font-weight: 100;
    margin-top: -.3rem;
    display: inline-block;
    position: relative;
}

.type .cover {
    position: absolute;
    width: 110%;
    height: 105%;
    background: #F0C5BC;
    top: 5%;
    left: -5%;
    transition: transform 1s;
    transform: scaleX(0);
}

.resume-btn {
    background-color: none;
    font-family: 'Kaushan Script', cursive;
    background: #F0C5BC;
    border: none;
    padding: .5rem 2rem;
    font-size: 1.8rem;
    margin-left: 18rem;
    margin-top: 2.5rem;
    transition: .5s;
    color: #665132;
    position: absolute;
/*     z-index: 111; */
}

.resume-btn:hover {
    margin-left: 17rem;
    margin-top: 1.5rem;
}

.resume-btn:hover span {
    margin: 0;
}

.resume-btn span {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #F0C5BC;
    left: 0;
    top: 0;
    margin-left: -1rem;
    margin-top: -1rem;
    transition: .5s;
}

.download-resume {
    position: absolute;
    text-align: right;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5rem;
    right: 2%;
    top: 60%;
}

.download-resume svg {
    width: 100%;
}

.download-resume div{
    position: absolute;
    right: -3rem;
    top: -2.5rem;
}

.header-image-container {
    width: 28rem;
    height: 28rem;
    background-color: #F2EFDF;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-left: auto;
}   

.socials {
    position: absolute;
    top: 95%;
    display: flex;
    gap: 2rem;
    font-size: 3rem;
}

.header-image-container img {
    width: 80%;
    position: absolute;
    bottom: 0rem;
    left: 1.5rem;
}

.scrollDownMessage {
    position: absolute;
    right: 3%;
    top: 60%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    font-size: 1.5rem;
    gap: 2rem;
}

.scrollDownMessage div {
    animation:jump .8s infinite ease alternate;
}


.scrollDownMessage svg {
    animation:jump .8s infinite ease alternate;
}

@keyframes jump {
    to {
        transform: translateY(-20%);
    }
}

#projects {
    height: 100vh;
    padding: 0 10rem;
    position: relative;
    margin-top:5rem;
    margin-bottom: 5rem;
}

.title {
    display: inline-block;
    margin-top: 3rem;
    font-size: 7rem;
/*     letter-spacing: .5rem; */
    position: relative;
    overflow: hidden;
    padding: .1rem 1rem;
    font-family: 'Kaushan Script', cursive;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: #F0C5BC;
}

.title .name {
    position: relative;
}

.title .name svg {
    position: absolute;
    bottom: -10%;
    left: -10%;
}

.title span{
    display: inline-block;
    height: 2px;
    background-color: #665132;
}

.title span:nth-child(1) {
    flex: 0.09;
}

.title span:nth-child(3) {
    flex: 1;
}

#projects .project {
    position: absolute;

}

#projects .project img {
    position: absolute;
    width: 100%;
    border: 1px solid #665132;
}

#projects .big {
    font-size: 5rem;
}

#projects .projects-container {
    position: absolute;
    left: 50%;
    top: 50%;
    padding-top: 8rem;
}

#projects .medium {
    font-size: 4.5rem;
}

#projects .small {
    font-size: 2.5rem;
}

#projects .wall {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;

}

#projects .wall .wallshow {
    background-color: #FFEAC5;
    width: 1rem;
    height: 1rem;
    position: absolute;
    border-radius: 50%;
    transition: transform 1s;
}

#projects .project-preview {
    width: 100%;
    height: 100%;
    background-color: #FFEAC5;
    padding: 1rem 5rem;
}

#projects .project-preview button{
    background: none;
    border: none;
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
}

#projects .project-preview .gotoProjectsBtn svg {
    margin-right: 1rem;
}

#projects .project-preview .project-target {
    opacity: 0;
    position: relative;
}

#projects .project-preview .project-target > div {
    position: absolute;
}

#projects .project-preview .project-target .image-preview {
    /* width: 50vw;
    right: 0;
    top: 4rem; */
    width: 60vw;
    height: 70vh;
    right: 0;
/*     z-index: -1; */
    border: 0.15rem solid #665132;
}

#projects .project-preview .project-target .image-preview img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


#projects .project-preview .project-target .description {
    width: 40rem;
    height: 20rem;
    border: 0.15rem solid #665132;
    top: 16rem;
    padding: 2rem;
    background-color: #FFEAC5;
    z-index: 1;
}

#projects .project-preview .project-target .description .actions {
    position: absolute;
    right: 1rem;
    bottom: 2rem;
}

#projects .project-preview .project-target .description .actions a {
    background: #665132;
    border: 0.15rem solid #322818;
    border-radius: 10px;
    color: #FFEAC5;
    margin-right: .5rem;
    text-decoration: none;
    padding: .6rem .8rem;
    font-size: 1.7rem;
    font-family: 'Kaushan Script', cursive;
}

#projects .project-preview .project-target .name {
    top: 33rem;
    right: 35%;
    transform: translateX(50%);
    font-family: 'Kaushan Script', cursive;
    font-size: 5rem;
}

#about {
    margin-top: 5rem;
    padding: 0 10rem;
    position: relative;
}

#about > p {
    font-size: 2rem;
    text-indent: 5rem;
    margin: 3rem 0;
}

#about h2 {
    font-size: 3rem;
    font-family: 'Kaushan Script', cursive;
}

#about .knowledges .items{
    display: flex;
    font-size: 8rem;
    flex-wrap: wrap;
    column-gap: 10rem;
    row-gap: 5rem;
    justify-content: center;
/*     background: rgba(255,255,255,0.7); */
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin-top: 5rem;
}


#about .knowledges .items > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about .knowledges .items > div .percent {
    font-size: 2rem;
}

#contact {
/*     margin-top: 10rem; */
    padding: 10rem 10rem;
    position: relative;
}


#contact form {
    margin-top: 8rem;
    width: 50%;
}

#contact form input , #contact form textarea {
    width: 100%;
    margin: .5rem 0;
}

.mouse_indicator {
    cursor: none;
    pointer-events: none;
}

.mouse_indicator > div {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.mouse_indicator .inner_circle {
    width: .5rem;
    height: .5rem;
    background: black;
}

.mouse_indicator .outer_circle {
    width: 1.4rem;
    border: 1px solid black;
    height: 1.4rem;
    transition: .05s linear;
}

.hide {
    display: none !important;
}

#footer {
    height: 2rem;
    background-color: #665132;
}